<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invest_degr_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,630},{311,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{311,13}}</string>
                <key>sourceSize</key>
                <string>{319,21}</string>
            </dict>
            <key>invest_degr_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{319,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,21}}</string>
                <key>sourceSize</key>
                <string>{319,21}</string>
            </dict>
            <key>invest_icon_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>invest_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{404,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,58}}</string>
                <key>sourceSize</key>
                <string>{404,58}</string>
            </dict>
            <key>invest_new_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{626,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{626,89}}</string>
                <key>sourceSize</key>
                <string>{654,89}</string>
            </dict>
            <key>invest_tit.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,630},{187,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,37}}</string>
                <key>sourceSize</key>
                <string>{187,37}</string>
            </dict>
            <key>invest_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{915,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{915,516}}</string>
                <key>sourceSize</key>
                <string>{915,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>donate.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df52e4142f417644003f6931248c043c$</string>
            <key>textureFileName</key>
            <string>donate.png</string>
        </dict>
    </dict>
</plist>
