<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gc_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{115,21}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{115,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{91,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{91,21}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,137},{103,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{103,27}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{53,21}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{85,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{71,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,25},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{111,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,29},{145,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{145,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,164},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{113,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{143,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{143,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{85,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,52},{141,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{141,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,56},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{105,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,191},{153,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{153,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,222},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{133,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{133,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{95,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,1},{95,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,79},{121,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{121,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,83},{119,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{119,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,110},{129,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{129,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,415},{161,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{161,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{127,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{127,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{93,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,106},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,2},{91,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,110},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{97,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,272},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{121,27}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,25},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{53,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,110},{87,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{87,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{159,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{159,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,384},{161,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{161,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,83},{129,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{129,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,137},{169,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{169,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,415},{145,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{145,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,319},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,137},{65,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{65,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,446},{173,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{147,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{147,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,29},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{113,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{115,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{115,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{113,27}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,191},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{81,27}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,446},{125,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{125,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,193},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{121,27}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_3_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,56},{153,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{153,25}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>gc_4_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,164},{118,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{118,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{154,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{154,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{176,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{176,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,330},{164,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{164,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,303},{152,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{152,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{152,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{152,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,276},{156,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{156,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,303},{164,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{164,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,245},{164,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{164,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,330},{160,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{160,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{148,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{148,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,357},{158,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{158,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{162,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{162,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,249},{152,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{152,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,357},{172,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{172,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,477},{174,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,166},{116,25}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{116,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{140,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{140,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{134,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{134,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{144,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{144,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,477},{132,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{132,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>gc_4_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,218},{154,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{154,25}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gcName.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed0157b3ec5aa2ebf4d8de7d23334cd$</string>
            <key>textureFileName</key>
            <string>gcName.png</string>
        </dict>
    </dict>
</plist>
