<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxhd_bowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>yxhd_bowl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,299},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>yxhd_box_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,580},{210,202}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{210,202}}</string>
                <key>sourceSize</key>
                <string>{226,230}</string>
            </dict>
            <key>yxhd_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,361},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>yxhd_btn_add_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,319},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>yxhd_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{530,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{530,66}}</string>
                <key>sourceSize</key>
                <string>{538,74}</string>
            </dict>
            <key>yxhd_scoop.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,116},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>yxhd_scoop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>yxhd_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,370},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>yxhd_tit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{260,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,66}}</string>
                <key>sourceSize</key>
                <string>{260,66}</string>
            </dict>
            <key>yxhd_tit_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,252},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>yxhd_tit_bg_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{260,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,66}}</string>
                <key>sourceSize</key>
                <string>{260,66}</string>
            </dict>
            <key>yxhd_tit_dbkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,542},{222,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{222,36}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_dbkf_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,504},{222,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{222,36}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,436},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>yxhd_tit_digit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,331},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{16,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,470},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{22,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,481},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{20,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,228},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{22,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,503},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{20,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,228},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{22,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,228},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{22,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,219},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{20,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,228},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{22,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_digit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,403},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{38,31}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yxhd_tit_fjcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{238,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{238,30}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_fjcy_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{238,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{238,30}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_gc.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,190},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>yxhd_tit_lthy.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,299},{224,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{224,28}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_lthy_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{224,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{224,28}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,286},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{52,31}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>yxhd_tit_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,331},{85,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>yxhd_tit_ndlcyyw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{408,38}}</string>
                <key>sourceSize</key>
                <string>{414,44}</string>
            </dict>
            <key>yxhd_tit_ndqkc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,39}}</string>
                <key>sourceSize</key>
                <string>{278,43}</string>
            </dict>
            <key>yxhd_tit_szdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{226,44}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,44}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_szdd_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{226,44}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,44}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,274},{111,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,23}}</string>
                <key>sourceSize</key>
                <string>{111,23}</string>
            </dict>
            <key>yxhd_tit_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>yxhd_tit_xmyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{226,36}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{226,36}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_tit_xmyz_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{226,36}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{226,36}}</string>
                <key>sourceSize</key>
                <string>{238,46}</string>
            </dict>
            <key>yxhd_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,536},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>yxhd_yx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,286},{182,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,102}}</string>
                <key>sourceSize</key>
                <string>{182,102}</string>
            </dict>
            <key>yxhd_yx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,90},{182,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,102}}</string>
                <key>sourceSize</key>
                <string>{182,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lanternPic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5910994809ddca891f9b734b3f0fd693$</string>
            <key>textureFileName</key>
            <string>lanternPic.png</string>
        </dict>
    </dict>
</plist>
