<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xcxy_btn_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,89},{60,46}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{60,46}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>xcxy_icon_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,137},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>xcxy_tit_djpplq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{412,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,73}}</string>
                <key>sourceSize</key>
                <string>{412,73}</string>
            </dict>
            <key>xcxy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{479,85}}</string>
                <key>sourceSize</key>
                <string>{483,87}</string>
            </dict>
            <key>xcxy_tree_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>xcxy_xianglu_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>xcxy_ywz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,600},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz01_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,462},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz04_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,324},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz02_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,186},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>xcxy_ywz03_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishPic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abdba275279c77c459732dbbbbad3438$</string>
            <key>textureFileName</key>
            <string>wishPic.png</string>
        </dict>
    </dict>
</plist>
