<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{83,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{83,85}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{83,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{83,85}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{93,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{93,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{93,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{85,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,81}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{85,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,81}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{85,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,81}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{83,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{83,77}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>guang00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{83,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{83,77}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishLight.png</string>
            <key>size</key>
            <string>{455,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c3473a80cec63cab139ce5b3aaa076:1/1$</string>
            <key>textureFileName</key>
            <string>wishLight.png</string>
        </dict>
    </dict>
</plist>
