<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_forage.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,80},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>lb_buff_sqgz_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>res_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,70},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>res_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,306},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{50,36}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,122},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>res_icon_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,377},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>res_icon_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,177},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>res_icon_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,67},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>res_icon_1130.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,253},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,67},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>res_icon_1140.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,217},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1150.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,206},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1160.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,238},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1180.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,110},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1205.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,205},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1211.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,169},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1212.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,173},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_149.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,248},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>res_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,66}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>res_icon_1701.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,158},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1702.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,121},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1703.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,121},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1704.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,121},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1705.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,121},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,212},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{50,34}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1901.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1902.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1903.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,138},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_1904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_19_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,341},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>res_icon_1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,319},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>res_icon_1_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,101},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>res_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,281},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>res_icon_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,367},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>res_icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,229},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,54},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>res_icon_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,301},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,254},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,221},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,177},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,33},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{32,29}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>res_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,44}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,265},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>res_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,296},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,50},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>res_icon_4_56_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,296},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,299},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,60},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>res_icon_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,329},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>res_icon_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,148},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>res_icon_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>res_icon_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,80},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>res_icon_5_56_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,299},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,114},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>res_icon_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>res_icon_6_56_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,114},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,286},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>res_icon_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,127},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,225},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>star_solid_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,131},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>troop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,342},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>troop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,332},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>troop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,254},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>troop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,119},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>troop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,119},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>zhw_event.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,64}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61e22bd4a19df99ff9cc9ac71f01dcfd$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
