<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,253},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,253},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,729},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,729},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,494},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{160,79}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{160,83}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,494},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,170},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,170},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,650},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,650},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,415},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,334},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{160,79}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{160,83}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,573},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,415},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,87},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,87},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,573},{160,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{160,75}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,336},{160,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,253},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{160,79}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,81}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>d0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{160,83}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildingManAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd532f58c39d3217c4e3bf536a91b257$</string>
            <key>textureFileName</key>
            <string>buildingManAnim.png</string>
        </dict>
    </dict>
</plist>
