<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>建造完成发光-120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,873},{155,135}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,116},{155,135}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{179,147}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,103},{179,147}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,374},{191,147}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{191,147}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{197,149}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,98},{197,149}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,153},{195,153}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,93},{195,153}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,308},{193,157}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,87},{193,157}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,187},{193,159}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,83},{193,159}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{191,163}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,78},{191,163}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{191,169}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,71},{191,169}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,537},{189,175}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,65},{189,175}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120011.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,368},{191,179}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,61},{191,179}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120012.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,549},{187,185}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,55},{187,185}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120013.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,467},{187,189}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,51},{187,189}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120014.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,348},{187,191}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,49},{187,191}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120015.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,187},{185,193}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,47},{185,193}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120016.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{183,195}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{183,195}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{183,199}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{183,199}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120018.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,183},{183,201}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{183,201}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120019.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{183,203}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,37},{183,203}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,205}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{181,205}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120021.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{179,205}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,35},{179,205}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120022.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,523},{177,167}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{177,167}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120023.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,656},{173,165}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{173,165}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120024.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,714},{157,165}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{157,165}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120025.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,736},{139,163}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{139,163}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{137,161}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{137,161}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120027.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,692},{135,159}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{135,159}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120028.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,823},{133,157}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{133,157}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120029.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,877},{133,155}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{133,155}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{129,153}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{129,153}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120031.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,829},{127,151}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{127,151}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120032.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,829},{123,147}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{123,147}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120033.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,954},{111,135}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{111,135}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120034.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,692},{99,123}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{99,123}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
            <key>建造完成发光-120035.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,183},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{209,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinguangAnim.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d78cd01b5410a65a9ef2de08a28929c$</string>
            <key>textureFileName</key>
            <string>jinguangAnim.png</string>
        </dict>
    </dict>
</plist>
