<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30021.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30022.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
            <key>sl_30024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,50}}</string>
                <key>sourceSize</key>
                <string>{254,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resoLight.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3fab456d1d6e61955bc36d43e19d58$</string>
            <key>textureFileName</key>
            <string>resoLight.png</string>
        </dict>
    </dict>
</plist>
