<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huizhan_effect_lv_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,982},{206,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{210,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,196}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{210,194}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{208,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,196}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{210,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,196}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,200},{210,194}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,788},{208,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{208,192}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,592},{206,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,396},{208,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,194}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
            <key>huizhan_effect_lv_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,196}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huizhan_effect_lv_4.png</string>
            <key>size</key>
            <string>{427,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c1865597a5a3cb7478871eac7a1c37$</string>
            <key>textureFileName</key>
            <string>huizhan_effect_lv_4.png</string>
        </dict>
    </dict>
</plist>
