<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atten_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,268}}</string>
                <key>sourceSize</key>
                <string>{454,268}</string>
            </dict>
            <key>btn_green_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,114},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>btn_green_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>unite_view_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>unite_view_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,259},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>unite_view_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,226},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>consumeWin.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977e111a1d35bb7bee764ed0fa5f500c$</string>
            <key>textureFileName</key>
            <string>consumeWin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
