<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swordEffect.png</string>
            <key>size</key>
            <string>{1532,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4610c9b3e35d930b54f2f1baeedbc8:682af16567be9ba79d6b777d83422e2c:a02009c8d53420fdf6a8e3d22c4c1482$</string>
            <key>textureFileName</key>
            <string>swordEffect.png</string>
        </dict>
    </dict>
</plist>
