<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_login_aoshitang.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,664},{318,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,99}}</string>
                <key>sourceSize</key>
                <string>{318,99}</string>
            </dict>
            <key>btn_login_aoshitang_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,344},{318,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,99}}</string>
                <key>sourceSize</key>
                <string>{318,99}</string>
            </dict>
            <key>btn_login_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1235},{318,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,99}}</string>
                <key>sourceSize</key>
                <string>{318,99}</string>
            </dict>
            <key>btn_login_fast_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,915},{318,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,99}}</string>
                <key>sourceSize</key>
                <string>{318,99}</string>
            </dict>
            <key>btn_login_gre.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1780},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>btn_login_gre_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1692},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>dl_tit_djjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1868},{283,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,67}}</string>
                <key>sourceSize</key>
                <string>{283,67}</string>
            </dict>
            <key>dl_tit_djjr_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,312},{601,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,99}}</string>
                <key>sourceSize</key>
                <string>{601,99}</string>
            </dict>
            <key>login_btn_back_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1396},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>login_btn_back_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1332},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>login_btn_login_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1604},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>login_btn_login_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1294},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>login_btn_reg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,984},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>login_btn_reg_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>login_down_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{1136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,70}}</string>
                <key>sourceSize</key>
                <string>{1136,70}</string>
            </dict>
            <key>login_input.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{450,344},{374,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,51}}</string>
                <key>sourceSize</key>
                <string>{374,51}</string>
            </dict>
            <key>login_input_change.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{74,344},{374,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,51}}</string>
                <key>sourceSize</key>
                <string>{374,51}</string>
            </dict>
            <key>login_input_change_c.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{374,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,51}}</string>
                <key>sourceSize</key>
                <string>{374,51}</string>
            </dict>
            <key>login_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1555},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>login_up_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,194},{1136,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,115}}</string>
                <key>sourceSize</key>
                <string>{1136,115}</string>
            </dict>
            <key>login_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{773,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,340}}</string>
                <key>sourceSize</key>
                <string>{773,340}</string>
            </dict>
            <key>server_list_div.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{550,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,2}}</string>
                <key>sourceSize</key>
                <string>{550,2}</string>
            </dict>
            <key>server_list_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,146},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>server_list_green_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,98},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>server_list_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,50},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>server_list_view_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>server_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1378},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>server_recom.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1332},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>server_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1555},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>server_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{669,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,454}}</string>
                <key>sourceSize</key>
                <string>{669,454}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aff36b78523879d9775524070b7cd26$</string>
            <key>textureFileName</key>
            <string>login3.png</string>
        </dict>
    </dict>
</plist>
