<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{913,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,196}}</string>
                <key>sourceSize</key>
                <string>{913,196}</string>
            </dict>
            <key>bn_hz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,715},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_hz01_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1113},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_hz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,577},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_hz02_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,925},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_hz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,439},{136,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,240}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_hz03_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,853},{154,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,258}}</string>
                <key>sourceSize</key>
                <string>{154,258}</string>
            </dict>
            <key>bn_icon_horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,246},{191,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,196}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
            <key>bn_nd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{551,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,323}}</string>
                <key>sourceSize</key>
                <string>{551,323}</string>
            </dict>
            <key>bn_nd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{551,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,323}}</string>
                <key>sourceSize</key>
                <string>{551,323}</string>
            </dict>
            <key>bn_tit_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{708,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,56}}</string>
                <key>sourceSize</key>
                <string>{708,56}</string>
            </dict>
            <key>bn_tit_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,264},{669,62}}</string>
                <key>offset</key>
                <string>{-68,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,62}}</string>
                <key>sourceSize</key>
                <string>{805,62}</string>
            </dict>
            <key>bn_tit_big3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{785,62}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{785,62}}</string>
                <key>sourceSize</key>
                <string>{805,62}</string>
            </dict>
            <key>bn_tit_big4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,322},{601,54}}</string>
                <key>offset</key>
                <string>{-102,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{601,54}}</string>
                <key>sourceSize</key>
                <string>{805,62}</string>
            </dict>
            <key>bn_tit_big5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{647,62}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,62}}</string>
                <key>sourceSize</key>
                <string>{805,62}</string>
            </dict>
            <key>bn_tit_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,386},{531,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{531,43}}</string>
                <key>sourceSize</key>
                <string>{531,49}</string>
            </dict>
            <key>bn_tit_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,853},{469,49}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,49}}</string>
                <key>sourceSize</key>
                <string>{531,49}</string>
            </dict>
            <key>bn_tit_small3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,386},{401,43}}</string>
                <key>offset</key>
                <string>{-64,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{401,43}}</string>
                <key>sourceSize</key>
                <string>{531,49}</string>
            </dict>
            <key>bn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{242,71}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{242,71}}</string>
                <key>sourceSize</key>
                <string>{258,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baiNianPic.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6008b507e74982eb244bd563b61527f6$</string>
            <key>textureFileName</key>
            <string>baiNianPic.png</string>
        </dict>
    </dict>
</plist>
