<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cityWindowButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,508},{254,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,71}}</string>
                <key>sourceSize</key>
                <string>{258,75}</string>
            </dict>
            <key>cityWindowButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,488},{254,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,71}}</string>
                <key>sourceSize</key>
                <string>{258,75}</string>
            </dict>
            <key>cityWindowDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{48,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{48,22}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>cityWindowMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,524},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,16}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>cityWindowNationBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,550},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>cityWindowNormalBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{546,322}}</string>
                <key>sourceSize</key>
                <string>{550,322}</string>
            </dict>
            <key>cityWindowProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,108},{202,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{202,13}}</string>
                <key>sourceSize</key>
                <string>{210,21}</string>
            </dict>
            <key>cityWindowProgressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,312},{210,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,21}}</string>
                <key>sourceSize</key>
                <string>{210,21}</string>
            </dict>
            <key>cityWindowShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,632},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,20}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>cityWindowVs.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{110,118}}</string>
                <key>sourceSize</key>
                <string>{116,122}</string>
            </dict>
            <key>cityWindowWei.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,586},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>cityWindowWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,564},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>cityWindowYuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,674},{44,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{44,19}</string>
            </dict>
            <key>cityWindowZheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,64},{60,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>cityWindowhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,86},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>city_btn_conve_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,433},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_btn_conve_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,413},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_btn_order_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,284},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_btn_order_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,264},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_btn_see_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,189},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_btn_see_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,114},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>city_event_btn_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,359},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>city_event_btn_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,339},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>city_gene_btn_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,208},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>city_gene_btn_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,132},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>city_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,249}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>city_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>yzlq_word_liu.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,542},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>yznz_word_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{26,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cityWindow.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff4c35f5bb8f83463bd9be7172668ea$</string>
            <key>textureFileName</key>
            <string>cityWindow.png</string>
        </dict>
    </dict>
</plist>
