<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conveneBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,289}}</string>
                <key>sourceSize</key>
                <string>{602,289}</string>
            </dict>
            <key>conveneGou.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,28},{17,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>conveneGouBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>conveneQueding.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,156},{138,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,56}}</string>
                <key>sourceSize</key>
                <string>{140,58}</string>
            </dict>
            <key>conveneQueding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,98},{138,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,56}}</string>
                <key>sourceSize</key>
                <string>{140,58}</string>
            </dict>
            <key>conveneQuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,47},{138,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,56}}</string>
                <key>sourceSize</key>
                <string>{140,58}</string>
            </dict>
            <key>conveneQuxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,40},{138,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,56}}</string>
                <key>sourceSize</key>
                <string>{140,58}</string>
            </dict>
            <key>conveneZhaojiwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{190,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,36}}</string>
                <key>sourceSize</key>
                <string>{190,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>convene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b521e040db19859b2c28f356f28a3eb$</string>
            <key>textureFileName</key>
            <string>convene.png</string>
        </dict>
    </dict>
</plist>
