<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengmangbilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{129,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,28}}</string>
                <key>sourceSize</key>
                <string>{129,28}</string>
            </dict>
            <key>fukediguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{129,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,27}}</string>
                <key>sourceSize</key>
                <string>{129,27}</string>
            </dict>
            <key>gaishiyinghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>hourRankDraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{185,62}}</string>
                <key>sourceSize</key>
                <string>{193,70}</string>
            </dict>
            <key>hourRankDraw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,74},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{185,62}}</string>
                <key>sourceSize</key>
                <string>{193,70}</string>
            </dict>
            <key>hourRankJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,193},{17,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>hourRankShadikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,23},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{185,62}}</string>
                <key>sourceSize</key>
                <string>{193,70}</string>
            </dict>
            <key>hourRankShadikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{193,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,70}}</string>
                <key>sourceSize</key>
                <string>{193,70}</string>
            </dict>
            <key>hourRankTipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,125}}</string>
                <key>sourceSize</key>
                <string>{221,125}</string>
            </dict>
            <key>huijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,326},{114,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,25}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>huijinrutu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,283},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,25}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>jiacaiwanguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,338},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>leshanhaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,23},{139,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,25}}</string>
                <key>sourceSize</key>
                <string>{139,25}</string>
            </dict>
            <key>lingqujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,488},{110,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,22}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
            <key>luanshihaojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>shibukedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,193},{131,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,28}}</string>
                <key>sourceSize</key>
                <string>{131,28}</string>
            </dict>
            <key>suoxiangpimi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,164},{117,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,25}}</string>
                <key>sourceSize</key>
                <string>{117,25}</string>
            </dict>
            <key>wanfumodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{125,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,24}}</string>
                <key>sourceSize</key>
                <string>{125,24}</string>
            </dict>
            <key>weishangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{84,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,19}}</string>
                <key>sourceSize</key>
                <string>{84,19}</string>
            </dict>
            <key>weizhensanguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{132,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,28}}</string>
                <key>sourceSize</key>
                <string>{132,28}</string>
            </dict>
            <key>wumingxiaozu.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,338},{119,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,24}}</string>
                <key>sourceSize</key>
                <string>{119,24}</string>
            </dict>
            <key>wushenjiangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>yijidangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,129},{145,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,28}}</string>
                <key>sourceSize</key>
                <string>{145,28}</string>
            </dict>
            <key>yimaobuba.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,338},{118,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,27}}</string>
                <key>sourceSize</key>
                <string>{118,27}</string>
            </dict>
            <key>yiyidibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,458},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>zhanlutoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,338},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,27}}</string>
                <key>sourceSize</key>
                <string>{121,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rankHour.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9f0db786edb6b3f64296eb3460626c$</string>
            <key>textureFileName</key>
            <string>rankHour.png</string>
        </dict>
    </dict>
</plist>
