<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,608},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,620},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>1110.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,381},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,555},{63,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,121}}</string>
                <key>sourceSize</key>
                <string>{63,121}</string>
            </dict>
            <key>1200.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,430},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,569},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>1210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>1211.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,504},{63,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,121}}</string>
                <key>sourceSize</key>
                <string>{63,121}</string>
            </dict>
            <key>1300.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,343},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>1310.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,341},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>1311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{63,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,121}}</string>
                <key>sourceSize</key>
                <string>{63,121}</string>
            </dict>
            <key>2100.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,517},{89,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,123}}</string>
                <key>sourceSize</key>
                <string>{89,123}</string>
            </dict>
            <key>2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,271},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>2200.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,464},{89,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,123}}</string>
                <key>sourceSize</key>
                <string>{89,123}</string>
            </dict>
            <key>2210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>2300.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,218},{89,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,123}}</string>
                <key>sourceSize</key>
                <string>{89,123}</string>
            </dict>
            <key>2310.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,231},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>3100.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,171},{98,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>3110.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,42},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>3200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{98,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>3210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>3300.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,131},{98,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>3310.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>cfjt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,38}}</string>
                <key>sourceSize</key>
                <string>{307,38}</string>
            </dict>
            <key>cfjt_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,110},{106,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,11}}</string>
                <key>sourceSize</key>
                <string>{114,19}</string>
            </dict>
            <key>cfjt_jdt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,50},{114,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,19}}</string>
                <key>sourceSize</key>
                <string>{114,19}</string>
            </dict>
            <key>cfjt_jdt_dih.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,50},{114,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,19}}</string>
                <key>sourceSize</key>
                <string>{114,19}</string>
            </dict>
            <key>cfjt_jdth.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{106,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,11}}</string>
                <key>sourceSize</key>
                <string>{114,19}</string>
            </dict>
            <key>cfjt_nj.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,26},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>cfjt_nj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldTower.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b67f824b192ee586ea3e1ba492f0cdc$</string>
            <key>textureFileName</key>
            <string>worldTower.png</string>
        </dict>
    </dict>
</plist>
