<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{175,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,210},{169,100}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,100}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,179},{169,102}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,179},{169,102}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,106},{175,102}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,106},{175,102}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{175,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{167,94}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{167,94}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{167,94}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{167,94}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{175,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,104}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{175,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,104}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,104}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,104}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,210},{169,100}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,100}}</string>
                <key>sourceSize</key>
                <string>{179,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armyWalkOnWater_att.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d769415071daafadc5ed51313cc25eac$</string>
            <key>textureFileName</key>
            <string>armyWalkOnWater_att.png</string>
        </dict>
    </dict>
</plist>
