<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{42,20}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,110},{42,20}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,440},{94,58}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,87},{94,58}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{100,142}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{102,140}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,148}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{102,148}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{102,152}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,280},{104,124}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,124}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,144},{104,134}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,134}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,440},{92,58}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,87},{92,58}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,152},{100,142}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,152},{102,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{102,140}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{104,148}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,148}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{102,152}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{104,124}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,124}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,294},{104,134}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,134}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,460},{40,24}}</string>
                <key>offset</key>
                <string>{-27,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,106},{40,24}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>farmAddFoodEffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca613e07c5a2469f331442ba295a320$</string>
            <key>textureFileName</key>
            <string>farmAddFoodEffect.png</string>
        </dict>
    </dict>
</plist>
