<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acti_btdhk_degr_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,207},{346,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{346,13}}</string>
                <key>sourceSize</key>
                <string>{354,21}</string>
            </dict>
            <key>acti_btdhk_degr_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,384},{354,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,21}}</string>
                <key>sourceSize</key>
                <string>{354,21}</string>
            </dict>
            <key>acti_btdhk_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,478},{538,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,51}}</string>
                <key>sourceSize</key>
                <string>{538,51}</string>
            </dict>
            <key>acti_cjsjy_degr_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,166},{460,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{460,13}}</string>
                <key>sourceSize</key>
                <string>{468,21}</string>
            </dict>
            <key>acti_cjsjy_degr_div.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{2,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{2,17}}</string>
                <key>sourceSize</key>
                <string>{2,21}</string>
            </dict>
            <key>acti_cjsjy_degr_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,618},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>acti_cjsjy_degr_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,384},{468,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,21}}</string>
                <key>sourceSize</key>
                <string>{468,21}</string>
            </dict>
            <key>acti_cjsjy_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,337},{540,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,45}}</string>
                <key>sourceSize</key>
                <string>{540,45}</string>
            </dict>
            <key>acti_czsdq_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,410},{611,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,50}}</string>
                <key>sourceSize</key>
                <string>{611,50}</string>
            </dict>
            <key>acti_czsj_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{542,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,45}}</string>
                <key>sourceSize</key>
                <string>{542,45}</string>
            </dict>
            <key>acti_dstj_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,237},{627,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,51}}</string>
                <key>sourceSize</key>
                <string>{627,51}</string>
            </dict>
            <key>acti_gcqbx_crit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,66},{235,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,45}}</string>
                <key>sourceSize</key>
                <string>{235,45}</string>
            </dict>
            <key>acti_gcqbx_crit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,160},{214,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,45}}</string>
                <key>sourceSize</key>
                <string>{214,45}</string>
            </dict>
            <key>acti_gcqbx_crit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,113},{214,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,45}}</string>
                <key>sourceSize</key>
                <string>{214,45}</string>
            </dict>
            <key>acti_gcqbx_get_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,801},{594,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,50}}</string>
                <key>sourceSize</key>
                <string>{594,50}</string>
            </dict>
            <key>acti_gcqbx_icon_gc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{64,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,45}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>acti_gcqbx_icon_zg'.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,66},{46,39}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>acti_gcqbx_icon_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,410},{52,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{52,41}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>acti_icon_fini.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,492},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>acti_icon_unfini.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,605},{11,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{11,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>acti_jyjc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,936},{468,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,81}}</string>
                <key>sourceSize</key>
                <string>{468,81}</string>
            </dict>
            <key>acti_jyjc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,478},{469,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,83}}</string>
                <key>sourceSize</key>
                <string>{469,83}</string>
            </dict>
            <key>acti_jyjc_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,853},{469,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{469,81}}</string>
                <key>sourceSize</key>
                <string>{469,83}</string>
            </dict>
            <key>acti_jyjc_congr.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,132},{443,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,68}}</string>
                <key>sourceSize</key>
                <string>{443,68}</string>
            </dict>
            <key>acti_jyjc_congr_atti.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,410},{610,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,28}}</string>
                <key>sourceSize</key>
                <string>{610,28}</string>
            </dict>
            <key>acti_jyjc_congr_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{734,162}}</string>
                <key>sourceSize</key>
                <string>{746,162}</string>
            </dict>
            <key>acti_tit_btdhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,407},{604,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,69}}</string>
                <key>sourceSize</key>
                <string>{604,69}</string>
            </dict>
            <key>acti_tit_cjsjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,628},{312,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,69}}</string>
                <key>sourceSize</key>
                <string>{312,69}</string>
            </dict>
            <key>acti_tit_czsdq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{389,67}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,3},{389,67}}</string>
                <key>sourceSize</key>
                <string>{471,75}</string>
            </dict>
            <key>acti_tit_czsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{277,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,62}}</string>
                <key>sourceSize</key>
                <string>{277,62}</string>
            </dict>
            <key>acti_tit_dstj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{717,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,69}}</string>
                <key>sourceSize</key>
                <string>{717,69}</string>
            </dict>
            <key>acti_tit_gcqbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{336,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,62}}</string>
                <key>sourceSize</key>
                <string>{336,62}</string>
            </dict>
            <key>acti_tit_jyjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,319},{296,69}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,5},{296,69}}</string>
                <key>sourceSize</key>
                <string>{384,75}</string>
            </dict>
            <key>acti_tit_xlhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,407},{352,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,69}}</string>
                <key>sourceSize</key>
                <string>{352,69}</string>
            </dict>
            <key>icon_dianq.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,524},{31,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>icon_dianq_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,319},{31,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>icon_dstj_purp.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,381},{35,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>icon_dstj_yell.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,352},{35,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>icon_iron_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,555},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>resou_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{38,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,27}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>resou_icon1_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,290},{38,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,27}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>resou_icon_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,384},{46,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>resou_icon_exp_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,107},{46,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>resou_up_muiti.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,113},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>resou_up_numb.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,207},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>up_numb.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,231},{160,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,21}}</string>
                <key>sourceSize</key>
                <string>{160,21}</string>
            </dict>
            <key>up_numb_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,639},{160,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,21}}</string>
                <key>sourceSize</key>
                <string>{160,21}</string>
            </dict>
            <key>up_numb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,584},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>up_numb_ten_thous.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,278},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>up_numb_ten_thous_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,237},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>up_numb_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,464},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>web_shine0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,555},{69,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{69,69}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,555},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,555},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,699},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,699},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,949},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,949},{75,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,853},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,949},{75,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,949},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,699},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,699},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,555},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,555},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>web_shine0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,555},{69,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{69,69}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f13f1abe220062ce2bc98acb0d65b1$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
