<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,487},{199,161}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{199,161}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,650},{195,181}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{195,181}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,833},{191,173}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{191,173}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{189,151}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{189,151}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{207,165}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{207,165}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{203,159}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{203,159}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,322},{207,163}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{207,163}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,153}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{213,153}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,157}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{213,157}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{205,155}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{205,155}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,157},{211,163}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{211,163}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{155,47}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{155,47}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,161},{1,1}}</string>
                <key>offset</key>
                <string>{-107,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,487},{189,93}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,103},{189,93}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{197,137}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{197,137}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warlockUpgrade.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97222a5e7441ef99b28da2172bd1ff63$</string>
            <key>textureFileName</key>
            <string>warlockUpgrade.png</string>
        </dict>
    </dict>
</plist>
