<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_ded_subt.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,62},{16,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,6}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>ns_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{135,267}}</string>
                <key>offset</key>
                <string>{387,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{774,0},{135,267}}</string>
                <key>sourceSize</key>
                <string>{909,405}</string>
            </dict>
            <key>ns_btn_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,526},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{55,66}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>ns_btn_bomb_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,464},{67,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>ns_btn_pz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,131},{37,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{37,83}}</string>
                <key>sourceSize</key>
                <string>{43,87}</string>
            </dict>
            <key>ns_btn_pz_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,464},{41,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,87}}</string>
                <key>sourceSize</key>
                <string>{43,87}</string>
            </dict>
            <key>ns_cracker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,369},{38,43}}</string>
                <key>offset</key>
                <string>{-144,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{38,43}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker10.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,507},{52,61}}</string>
                <key>offset</key>
                <string>{83,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,35},{52,61}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,170},{46,47}}</string>
                <key>offset</key>
                <string>{100,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,23},{46,47}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,533},{46,57}}</string>
                <key>offset</key>
                <string>{120,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,369},{36,41}}</string>
                <key>offset</key>
                <string>{145,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,1},{36,41}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,131},{34,37}}</string>
                <key>offset</key>
                <string>{-131,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,69},{34,37}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,363},{44,43}}</string>
                <key>offset</key>
                <string>{-111,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,68},{44,43}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,170},{36,49}}</string>
                <key>offset</key>
                <string>{-82,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{36,49}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,533},{46,43}}</string>
                <key>offset</key>
                <string>{-58,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,69},{46,43}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,170},{42,47}}</string>
                <key>offset</key>
                <string>{-31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,66},{42,47}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,302},{46,59}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,58},{46,59}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,535},{52,51}}</string>
                <key>offset</key>
                <string>{26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,58},{52,51}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,535},{46,55}}</string>
                <key>offset</key>
                <string>{54,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,51},{46,55}}</string>
                <key>sourceSize</key>
                <string>{326,117}</string>
            </dict>
            <key>ns_cracker_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,464},{60,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{60,70}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ns_cracker_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,131},{78,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{78,88}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ns_cracker_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,302},{104,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ns_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,221},{146,197}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{146,197}}</string>
                <key>sourceSize</key>
                <string>{218,197}</string>
            </dict>
            <key>ns_pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{182,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{182,11}}</string>
                <key>sourceSize</key>
                <string>{194,23}</string>
            </dict>
            <key>ns_pb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,213},{194,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,23}}</string>
                <key>sourceSize</key>
                <string>{194,23}</string>
            </dict>
            <key>ns_sick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,464},{121,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{121,69}</string>
            </dict>
            <key>ns_sick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,221},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ns_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,186},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ns_tit_nsbzcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{492,58}}</string>
                <key>sourceSize</key>
                <string>{498,64}</string>
            </dict>
            <key>ns_tit_nssxgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{611,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,53}}</string>
                <key>sourceSize</key>
                <string>{611,53}</string>
            </dict>
            <key>ns_tit_xshcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,409},{357,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,53}}</string>
                <key>sourceSize</key>
                <string>{357,53}</string>
            </dict>
            <key>ns_titbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{370,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,67}}</string>
                <key>sourceSize</key>
                <string>{370,67}</string>
            </dict>
            <key>ns_titbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,62},{157,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,106}}</string>
                <key>sourceSize</key>
                <string>{157,106}</string>
            </dict>
            <key>ns_title_dnsnjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,400},{617,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,81}}</string>
                <key>sourceSize</key>
                <string>{617,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beastPic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2498698585a47d6755f05f593eb31463$</string>
            <key>textureFileName</key>
            <string>beastPic.png</string>
        </dict>
    </dict>
</plist>
