<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ns_idle1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,123}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{320,123}}</string>
                <key>sourceSize</key>
                <string>{334,139}</string>
            </dict>
            <key>ns_idle1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{294,137}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{294,137}}</string>
                <key>sourceSize</key>
                <string>{334,139}</string>
            </dict>
            <key>ns_idle1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{302,125}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{302,125}}</string>
                <key>sourceSize</key>
                <string>{334,139}</string>
            </dict>
            <key>ns_idle1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,127},{334,125}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{334,125}}</string>
                <key>sourceSize</key>
                <string>{334,139}</string>
            </dict>
            <key>ns_idle2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,124}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{320,124}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{306,142}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{306,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,398},{294,146}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{294,146}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,395},{310,142}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{310,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,256},{326,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{326,140}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,128},{330,126}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{330,126}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{306,142}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{306,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,398},{294,146}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{294,146}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,395},{310,142}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{310,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,256},{326,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{326,140}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{306,142}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{306,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,398},{294,146}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{294,146}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,395},{310,142}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{310,142}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_idle2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,256},{326,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{326,140}}</string>
                <key>sourceSize</key>
                <string>{332,152}</string>
            </dict>
            <key>ns_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1068},{220,214}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{220,214}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,876},{258,202}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{258,202}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,872},{244,194}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{244,194}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{226,190}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{226,190}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,876},{214,194}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{214,194}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{224,210}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{224,210}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1080},{264,224}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{264,224}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1072},{240,222}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,6},{240,222}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>ns_scare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,123}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{320,123}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{322,165}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{322,165}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,709},{334,161}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{334,161}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare12.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,709},{326,165}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{326,165}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,546},{324,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{324,159}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,254},{326,139}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{326,139}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{330,149}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{330,149}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,546},{292,161}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{292,161}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{322,165}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{322,165}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,709},{334,161}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{334,161}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,709},{326,165}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{326,165}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,546},{324,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{324,159}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{330,149}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{330,149}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
            <key>ns_scare9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,546},{292,161}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{292,161}}</string>
                <key>sourceSize</key>
                <string>{352,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beastAnim.png</string>
            <key>size</key>
            <string>{990,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b8ca5c4797adbe06e626faaca945eb:1/1$</string>
            <key>textureFileName</key>
            <string>beastAnim.png</string>
        </dict>
    </dict>
</plist>
