<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_dq_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,58},{56,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{56,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_hjc_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,58},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_jb_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{60,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_jiebing_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_jy_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_mbl_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{50,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{50,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_tj_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{236,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:688c354dcae240f799cf8a05206938c6:1/1$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
