<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,134}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{150,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{148,136}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{148,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{148,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,284},{140,140}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{140,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{138,146}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{138,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,142},{140,146}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{140,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{140,146}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{140,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,144},{140,144}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{140,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,286},{130,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{130,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonusAnim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e8edb4e0ec64140a8f0745fc57d977$</string>
            <key>textureFileName</key>
            <string>bonusAnim.png</string>
        </dict>
    </dict>
</plist>
