<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueManzu5/attack1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,94},{90,80}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,706},{92,70}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{92,70}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{90,70}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{90,70}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{90,76}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,765},{84,80}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{84,80}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,184},{84,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,493},{90,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{90,86}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{98,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{104,86}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,318},{98,82}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,188},{90,80}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{90,80}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,96},{92,74}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{92,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>blueManzu5/attack5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,887},{88,84}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,887},{88,84}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,186},{88,86}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,280},{88,86}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,374},{86,88}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,88}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,516},{88,94}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,418},{96,96}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,318},{94,96}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,208},{96,92}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{104,94}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{104,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,108},{88,98}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/attack5/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{88,84}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>blueManzu5/hitted1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,466},{89,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,80}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>blueManzu5/hitted1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,370},{87,78}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{87,78}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>blueManzu5/hitted1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,276},{85,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,80}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>blueManzu5/hitted1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,646},{83,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>blueManzu5/hitted5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,786},{88,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>blueManzu5/hitted5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,876},{84,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{84,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>blueManzu5/hitted5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{84,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>blueManzu5/hitted5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,92},{84,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>blueManzu5/idle/idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,282},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>blueManzu5/idle/idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,94},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>blueManzu5/move1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,306},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{94,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,416},{92,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,824},{92,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,516},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,603},{90,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>blueManzu5/move5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,400},{91,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/move5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/move5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,703},{91,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/move5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,510},{91,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/move5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,800},{91,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/move5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,695},{89,87}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>blueManzu5/win1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,374},{90,81}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,612},{92,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{92,89}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,99},{92,81}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{92,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,282},{90,81}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{90,81}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,96},{90,81}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,96},{90,81}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,81}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,199},{92,85}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{92,85}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,190},{90,83}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,83}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{90,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,610},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,91}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,918},{92,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{92,89}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{92,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{92,79}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,920},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,91}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>blueManzu5/win5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,557},{87,85}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{87,85}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{89,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{89,101}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,729},{89,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,585},{89,85}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,464},{87,83}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{87,83}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,676},{87,85}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{87,85}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,676},{87,85}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{87,85}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,796},{87,89}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{87,89}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{87,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{87,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,103}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{87,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,103}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,215},{87,101}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{87,101}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,102},{87,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,105}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>blueManzu5/win5/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{87,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{87,103}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueManzu5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9267e263c70c6be8dd700dbe3489781$</string>
            <key>textureFileName</key>
            <string>blueManzu5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
