<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{74,70}}</string>
                <key>offset</key>
                <string>{17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,139},{74,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,66}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,142},{100,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,66},{88,66}}</string>
                <key>offset</key>
                <string>{36,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,142},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,66},{86,70}}</string>
                <key>offset</key>
                <string>{33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,360},{64,70}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,144},{64,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{70,62}}</string>
                <key>offset</key>
                <string>{29,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,153},{70,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,222},{78,60}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,154},{78,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{88,56}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,153},{88,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{88,56}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,153},{88,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{88,56}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,153},{88,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,54}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,154},{96,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,54}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,154},{96,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,138},{82,82}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,127},{82,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,248},{82,78}}</string>
                <key>offset</key>
                <string>{24,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,130},{82,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{78,80}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,129},{78,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,206},{80,82}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,128},{80,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,328},{74,70}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,139},{74,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,330},{48,76}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,74},{48,78}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,150},{48,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,288},{46,76}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{46,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,310},{48,76}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,152},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,284},{48,76}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,280},{48,76}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,334},{74,70}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,139},{74,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{62,92}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{62,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{62,92}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{62,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,180},{66,86}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,122},{66,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,154},{70,78}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,130},{70,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,234},{74,70}}</string>
                <key>offset</key>
                <string>{17,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,139},{74,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,140},{68,80}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,134},{68,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,134},{70,86}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,126},{70,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{70,90}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,119},{70,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,58},{62,92}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{62,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{62,92}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{62,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{64,86}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,124},{64,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,210},{68,78}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,132},{68,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,74},{64,84}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,126},{64,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>att26.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f742a496a3abecfa904a8cdba9bd373:25ba0379be19e89d95976a46629010b4:d1b488e3e0423a11e739a8403e28a7dd$</string>
            <key>textureFileName</key>
            <string>att26.png</string>
        </dict>
    </dict>
</plist>
