<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,750},{332,312}}</string>
                <key>offset</key>
                <string>{11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,88},{332,312}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{462,368}}</string>
                <key>offset</key>
                <string>{168,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,33},{462,368}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,356},{356,362}}</string>
                <key>offset</key>
                <string>{142,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,18},{356,362}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,728},{340,318}}</string>
                <key>offset</key>
                <string>{164,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,43},{340,318}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1046},{324,300}}</string>
                <key>offset</key>
                <string>{188,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,38},{324,300}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1048},{308,286}}</string>
                <key>offset</key>
                <string>{211,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,35},{308,286}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,356},{202,216}}</string>
                <key>offset</key>
                <string>{231,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{630,50},{202,216}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,714},{348,330}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,84},{348,330}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{454,352}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,77},{454,352}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{456,352}}</string>
                <key>offset</key>
                <string>{60,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,69},{456,352}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,358}}</string>
                <key>offset</key>
                <string>{33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,65},{514,358}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{468,380}}</string>
                <key>offset</key>
                <string>{105,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,41},{468,380}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{374,364}}</string>
                <key>offset</key>
                <string>{70,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,51},{374,364}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,384},{394,364}}</string>
                <key>offset</key>
                <string>{101,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,44},{394,364}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,356},{426,370}}</string>
                <key>offset</key>
                <string>{133,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,35},{426,370}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>att_group_knight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0159490fd33f51dd4f022a1b394b330$</string>
            <key>textureFileName</key>
            <string>att_group_knight.png</string>
        </dict>
    </dict>
</plist>
