<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,290},{118,202}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,179},{118,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{126,224}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,176},{126,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{136,254}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,146},{136,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{138,252}}</string>
                <key>offset</key>
                <string>{-10,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,148},{138,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{154,246}}</string>
                <key>offset</key>
                <string>{-18,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,154},{154,246}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,240}}</string>
                <key>offset</key>
                <string>{-20,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,160},{162,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,234}}</string>
                <key>offset</key>
                <string>{-18,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,166},{160,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{144,232}}</string>
                <key>offset</key>
                <string>{-10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,168},{144,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{148,232}}</string>
                <key>offset</key>
                <string>{-12,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,168},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,270},{116,218}}</string>
                <key>offset</key>
                <string>{3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,168},{116,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,244},{118,226}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,168},{118,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,140},{122,232}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,168},{122,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,142},{126,232}}</string>
                <key>offset</key>
                <string>{-3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,168},{126,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,148},{140,232}}</string>
                <key>offset</key>
                <string>{-8,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,168},{140,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,152},{156,232}}</string>
                <key>offset</key>
                <string>{-16,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,168},{156,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,310},{130,182}}</string>
                <key>offset</key>
                <string>{-33,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,218},{130,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,442},{56,174}}</string>
                <key>offset</key>
                <string>{-4,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,226},{56,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{52,172}}</string>
                <key>offset</key>
                <string>{-9,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,228},{52,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,412},{52,140}}</string>
                <key>offset</key>
                <string>{-17,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,260},{52,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,410},{40,110}}</string>
                <key>offset</key>
                <string>{-30,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,290},{40,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,454},{50,124}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,175},{50,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,392},{30,76}}</string>
                <key>offset</key>
                <string>{-35,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,324},{30,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,328},{82,122}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,181},{82,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,410},{88,134}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,181},{88,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,176},{94,150}}</string>
                <key>offset</key>
                <string>{8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,177},{94,150}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,290},{100,162}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,180},{100,162}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,388},{106,174}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,180},{106,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,392},{112,186}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,179},{112,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def_tower_shoot.png</string>
            <key>size</key>
            <string>{1360,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:740d7b143e03fc534120d2a41b000917:6050c0ad890c43689357492bd6f383e2:15f9681b2d03cc23d6740a5ed3fcfaca$</string>
            <key>textureFileName</key>
            <string>def_tower_shoot.png</string>
        </dict>
    </dict>
</plist>
