<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,170},{56,82}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,125},{56,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{94,64}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,166},{94,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,64}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,166},{108,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,62}}</string>
                <key>offset</key>
                <string>{-28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,165},{108,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{58,52}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,164},{58,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,228},{68,54}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,159},{68,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,228},{80,54}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,159},{80,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{88,50}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,118},{88,50}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,118},{88,50}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,66},{96,50}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{96,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,66},{96,50}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{96,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,62},{58,96}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,111},{58,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{58,98}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,110},{58,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{54,100}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,109},{54,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,58},{56,98}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,110},{56,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{56,82}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,125},{56,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,410},{52,46}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,160},{52,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{52,48}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,158},{52,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,356},{50,46}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,160},{50,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,464},{50,46}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,160},{50,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,50}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,158},{52,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{52,46}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,161},{52,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,224},{56,82}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,125},{56,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,60},{56,86}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,121},{56,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{56,86}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,121},{56,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{50,86}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,121},{50,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,172},{50,84}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,123},{50,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{56,82}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,125},{56,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,282},{56,76}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,131},{56,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,234},{54,80}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,127},{54,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,118},{52,86}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,121},{52,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,168},{56,84}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,122},{56,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,122},{56,84}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,122},{56,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,226},{52,82}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,125},{52,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,280},{54,78}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,129},{54,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,180},{52,82}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,125},{52,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def26.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b8e4df6538174bef87b5ff5258defd:2bb655cb40d01ce39781a1ff11260b23:016e9647802198d413d8152c8852928b$</string>
            <key>textureFileName</key>
            <string>def26.png</string>
        </dict>
    </dict>
</plist>
