<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,266},{60,50}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{94,86}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,136},{94,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{94,80}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,142},{94,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,62}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,160},{96,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{54,62}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,152},{54,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,70},{62,78}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,137},{62,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{66,80}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,135},{66,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{66,80}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,135},{66,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{66,80}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,135},{66,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,56},{66,78}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,135},{66,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,56},{66,78}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,135},{66,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,56},{66,78}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,135},{66,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,214},{60,50}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,178},{62,52}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,158},{62,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{60,54}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,156},{60,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,192},{60,54}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,156},{60,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,214},{60,50}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{60,50}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,266},{58,50}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,160},{58,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,112},{68,50}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,159},{68,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,106},{70,48}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{70,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,164},{66,48}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,161},{66,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,134},{64,50}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{64,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,232},{60,52}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,159},{60,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,248},{60,50}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{52,80}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,130},{52,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,56},{54,74}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,136},{54,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,156},{56,66}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,144},{56,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,214},{54,60}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,150},{54,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,236},{60,50}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,160},{60,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,270},{54,58}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,152},{54,58}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,186},{48,62}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,148},{48,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,140},{50,64}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,146},{50,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,56},{48,76}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,134},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,90},{48,76}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,134},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,124},{52,68}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,142},{52,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{52,68}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,142},{52,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{52,80}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,130},{52,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def23.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8ea4210c54426e5804a1c9822d8653:9b0f4aa3e27c122ab8b2f462eaae0b79:454e78c58db5c784bc5e93031806b2ae$</string>
            <key>textureFileName</key>
            <string>def23.png</string>
        </dict>
    </dict>
</plist>
