<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{246,116}}</string>
                <key>offset</key>
                <string>{-49,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,168},{246,116}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,200},{234,292}}</string>
                <key>offset</key>
                <string>{-129,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,146},{234,292}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,406},{218,184}}</string>
                <key>offset</key>
                <string>{-122,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,238},{218,184}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,592},{158,138}}</string>
                <key>offset</key>
                <string>{-92,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,244},{158,138}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{188,168}}</string>
                <key>offset</key>
                <string>{-98,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,243},{188,168}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{270,180}}</string>
                <key>offset</key>
                <string>{-102,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,243},{270,180}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{302,196}}</string>
                <key>offset</key>
                <string>{-101,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,224},{302,196}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,202},{324,202}}</string>
                <key>offset</key>
                <string>{-98,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,243},{324,202}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{348,198}}</string>
                <key>offset</key>
                <string>{-98,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,254},{348,198}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,208}}</string>
                <key>offset</key>
                <string>{-97,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,249},{366,208}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{238,120}}</string>
                <key>offset</key>
                <string>{-51,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,171},{238,120}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,588},{190,106}}</string>
                <key>offset</key>
                <string>{-49,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,189},{190,106}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,212},{102,90}}</string>
                <key>offset</key>
                <string>{-51,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,222},{102,90}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,752},{144,156}}</string>
                <key>offset</key>
                <string>{-84,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,215},{144,156}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,780},{164,152}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,198},{164,152}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{156,180}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,170},{156,180}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,804},{146,166}}</string>
                <key>offset</key>
                <string>{-20,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,183},{146,166}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,394},{114,192}}</string>
                <key>offset</key>
                <string>{-59,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,158},{114,192}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def_two.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9d67c5c208f43e6397d50ed009bf943$</string>
            <key>textureFileName</key>
            <string>def_two.png</string>
        </dict>
    </dict>
</plist>
