<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1636},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{112,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{112,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{104,86}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1530},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,522},{102,84}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,153},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,522},{102,84}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,153},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{110,86}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,153},{110,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{110,86}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,153},{110,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{114,88}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,153},{114,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,884},{108,88}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,151},{108,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{104,86}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1424},{104,86}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1318},{104,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1212},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1636},{104,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1742},{104,88}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,153},{104,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{106,86}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,154},{106,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1104},{106,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,153},{106,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,994},{108,86}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,152},{108,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{108,86}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,152},{108,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{106,86}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,154},{106,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,418},{102,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{100,114}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,125},{100,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{100,114}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,125},{100,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,666},{102,96}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,143},{102,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,314},{102,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,210},{102,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{102,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{102,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{102,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{100,92}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,147},{100,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,782},{100,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,141},{100,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{100,114}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,125},{100,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,114}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,125},{100,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{100,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,141},{100,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{100,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,141},{100,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def28.png</string>
            <key>size</key>
            <string>{190,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1defb47a3f6d531a7718b4333902e16b:99b62b74a2b3bdb61837ea02dff4823b:d062679845297ce25a7475801048a9ea$</string>
            <key>textureFileName</key>
            <string>def28.png</string>
        </dict>
    </dict>
</plist>
