<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{70,110}}</string>
                <key>offset</key>
                <string>{204,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{669,82},{70,110}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,930},{422,396}}</string>
                <key>offset</key>
                <string>{-56,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,134},{422,396}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1308},{462,406}}</string>
                <key>offset</key>
                <string>{-107,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,125},{462,406}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,466},{542,462}}</string>
                <key>offset</key>
                <string>{-147,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,114},{542,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{542,462}}</string>
                <key>offset</key>
                <string>{-147,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,114},{542,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1308},{500,462}}</string>
                <key>offset</key>
                <string>{-167,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,114},{500,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{564,462}}</string>
                <key>offset</key>
                <string>{-159,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,114},{564,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{564,462}}</string>
                <key>offset</key>
                <string>{-159,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{564,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{564,462}}</string>
                <key>offset</key>
                <string>{-159,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{564,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,462}}</string>
                <key>offset</key>
                <string>{-159,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{564,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,466},{540,462}}</string>
                <key>offset</key>
                <string>{-162,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,114},{540,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1810},{184,168}}</string>
                <key>offset</key>
                <string>{120,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{528,69},{184,168}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,806},{500,462}}</string>
                <key>offset</key>
                <string>{-167,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,114},{500,462}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{234,306}}</string>
                <key>offset</key>
                <string>{9,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,88},{234,306}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,466},{226,282}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,112},{226,282}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,930},{256,272}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,141},{256,272}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,930},{392,376}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,97},{392,376}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1328},{384,382}}</string>
                <key>offset</key>
                <string>{-31,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,91},{384,382}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{378,330}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,143},{378,330}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,382},{422,312}}</string>
                <key>offset</key>
                <string>{-56,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,170},{422,312}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def_group_common.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0f63a1de43d8120db7952804c853e16$</string>
            <key>textureFileName</key>
            <string>def_group_common.png</string>
        </dict>
    </dict>
</plist>
