<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,24}}</string>
                <key>offset</key>
                <string>{74,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,142},{194,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{176,24}}</string>
                <key>offset</key>
                <string>{104,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,144},{176,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{176,24}}</string>
                <key>offset</key>
                <string>{104,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,144},{176,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{70,22}}</string>
                <key>offset</key>
                <string>{166,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{531,146},{70,22}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{70,22}}</string>
                <key>offset</key>
                <string>{166,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{531,146},{70,22}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{20,22}}</string>
                <key>offset</key>
                <string>{199,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,147},{20,22}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,14},{18,12}}</string>
                <key>offset</key>
                <string>{206,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,144},{18,12}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,14},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{134,10}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,157},{134,10}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{134,10}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,157},{134,10}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{168,24}}</string>
                <key>offset</key>
                <string>{53,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,144},{168,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{168,24}}</string>
                <key>offset</key>
                <string>{53,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,144},{168,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,24}}</string>
                <key>offset</key>
                <string>{74,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,142},{194,24}}</string>
                <key>sourceSize</key>
                <string>{800,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>att_toushiche_pohuai.png</string>
            <key>size</key>
            <string>{776,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eb347039cd1ef10a7aef6be68e97f1a:c566b0d80e70f5a234d924028a6398ae:1683ce25e194e6bc40787251c08b205c$</string>
            <key>textureFileName</key>
            <string>att_toushiche_pohuai.png</string>
        </dict>
    </dict>
</plist>
