<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{124,138}}</string>
                <key>offset</key>
                <string>{-14,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,357},{124,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{128,138}}</string>
                <key>offset</key>
                <string>{-12,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,357},{128,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{136,162}}</string>
                <key>offset</key>
                <string>{-44,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,363},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{136,162}}</string>
                <key>offset</key>
                <string>{-44,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,363},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{254,192}}</string>
                <key>offset</key>
                <string>{-13,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,352},{254,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{254,202}}</string>
                <key>offset</key>
                <string>{-13,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,342},{254,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{136,114}}</string>
                <key>offset</key>
                <string>{-92,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,448},{136,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,214}}</string>
                <key>offset</key>
                <string>{-37,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,348},{248,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{188,174}}</string>
                <key>offset</key>
                <string>{-88,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,409},{188,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{182,166}}</string>
                <key>offset</key>
                <string>{-90,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,417},{182,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{136,130}}</string>
                <key>offset</key>
                <string>{-126,-227}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,462},{136,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{136,130}}</string>
                <key>offset</key>
                <string>{-126,-227}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,462},{136,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{124,138}}</string>
                <key>offset</key>
                <string>{24,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,330},{124,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{124,138}}</string>
                <key>offset</key>
                <string>{25,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,329},{124,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def_tower_paoji.png</string>
            <key>size</key>
            <string>{1888,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305e7a6c64cee329fd43347b993ff55c:f5e698f40773daf2ab88a84e47130999:f9af113a01567a5ab50335eb807e128e$</string>
            <key>textureFileName</key>
            <string>def_tower_paoji.png</string>
        </dict>
    </dict>
</plist>
