<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,402},{86,66}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{118,102}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,123},{118,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,74}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,151},{130,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{90,74}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,147},{90,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{102,74}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,135},{102,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,232},{72,102}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,107},{72,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{78,106}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,102},{78,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{88,108}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,99},{88,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{108,88}}</string>
                <key>offset</key>
                <string>{35,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,119},{108,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{108,88}}</string>
                <key>offset</key>
                <string>{35,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,119},{108,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,300},{100,78}}</string>
                <key>offset</key>
                <string>{30,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,130},{100,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>attack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,300},{100,78}}</string>
                <key>offset</key>
                <string>{30,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,130},{100,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{86,66}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,450},{78,68}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,142},{78,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,232},{84,66}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,144},{84,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hitted/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{90,70}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,140},{90,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,400},{86,66}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,470},{72,62}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,151},{72,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,454},{78,64}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{78,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,468},{76,66}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,148},{76,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{74,68}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{74,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,470},{72,70}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{72,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>move/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,534},{68,66}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,151},{68,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,386},{86,66}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,92},{72,106}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,104},{72,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{74,102}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,108},{74,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,326},{72,90}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,120},{72,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{92,68}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,142},{92,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,382},{86,66}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,312},{90,72}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,138},{90,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{74,102}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,108},{74,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,82},{72,106}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,104},{72,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,254},{70,92}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,118},{70,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{72,102}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,108},{72,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,156},{74,102}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,108},{74,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{70,104}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,106},{70,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,242},{68,94}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,116},{68,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def32.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7597e8a9172530630cba080bf7fe4a2b:6b3aae9870cf3f15eeb2914722eedaad:925b700c7422f70e81fc841145c78d84$</string>
            <key>textureFileName</key>
            <string>def32.png</string>
        </dict>
    </dict>
</plist>
