<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,172},{68,48}}</string>
                <key>offset</key>
                <string>{20,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,102},{68,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{124,100}}</string>
                <key>offset</key>
                <string>{19,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,77},{124,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{134,108}}</string>
                <key>offset</key>
                <string>{19,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,74},{134,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{144,118}}</string>
                <key>offset</key>
                <string>{19,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,69},{144,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{156,128}}</string>
                <key>offset</key>
                <string>{19,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,65},{156,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{174,168}}</string>
                <key>offset</key>
                <string>{15,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,39},{174,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{174,168}}</string>
                <key>offset</key>
                <string>{15,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,39},{174,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{150,168}}</string>
                <key>offset</key>
                <string>{3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,39},{150,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{176,192}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,27},{176,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{176,192}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,27},{176,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{176,192}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,27},{176,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,172},{72,52}}</string>
                <key>offset</key>
                <string>{20,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,100},{72,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,220}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,13},{214,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,220}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,13},{214,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,220}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,13},{214,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,172},{52,54}}</string>
                <key>offset</key>
                <string>{10,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,94},{52,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,172},{52,54}}</string>
                <key>offset</key>
                <string>{10,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,94},{52,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,196},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,196},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,128},{78,56}}</string>
                <key>offset</key>
                <string>{19,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,98},{78,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,160},{82,60}}</string>
                <key>offset</key>
                <string>{20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,97},{82,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,138},{86,66}}</string>
                <key>offset</key>
                <string>{20,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,93},{86,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,148},{92,70}}</string>
                <key>offset</key>
                <string>{19,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,91},{92,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,148},{96,74}}</string>
                <key>offset</key>
                <string>{19,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,90},{96,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,104},{116,108}}</string>
                <key>offset</key>
                <string>{12,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,70},{116,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{118,100}}</string>
                <key>offset</key>
                <string>{16,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,74},{118,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>att_toushiche_pohuai_2.png</string>
            <key>size</key>
            <string>{2042,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdda5cc8070afce1a5c2a61416f5cd47:904d590ed2e62262d29cc5a3b9fe727b:31dfd7f91ffb79f290fdce998c072d5f$</string>
            <key>textureFileName</key>
            <string>att_toushiche_pohuai_2.png</string>
        </dict>
    </dict>
</plist>
