<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,920},{338,314}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,86},{338,314}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,612},{418,306}}</string>
                <key>offset</key>
                <string>{-126,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,186},{418,306}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{356,288}}</string>
                <key>offset</key>
                <string>{-122,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,208},{356,288}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,642},{344,272}}</string>
                <key>offset</key>
                <string>{-146,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,226},{344,272}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,642},{330,256}}</string>
                <key>offset</key>
                <string>{-171,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,245},{330,256}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,742},{318,244}}</string>
                <key>offset</key>
                <string>{-197,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,260},{318,244}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,404},{216,168}}</string>
                <key>offset</key>
                <string>{-218,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,301},{216,168}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,292},{350,318}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,94},{350,318}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{530,322}}</string>
                <key>offset</key>
                <string>{31,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,104},{530,322}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{536,350}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,116},{536,350}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,350}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,117},{570,350}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{552,400}}</string>
                <key>offset</key>
                <string>{-70,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,125},{552,400}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{394,296}}</string>
                <key>offset</key>
                <string>{-53,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,160},{394,296}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,404},{412,336}}</string>
                <key>offset</key>
                <string>{-90,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,178},{412,336}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,326},{446,314}}</string>
                <key>offset</key>
                <string>{-123,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,182},{446,314}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def_group_knight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d939e5f6b441d7c5bd3d2940db1b742c$</string>
            <key>textureFileName</key>
            <string>def_group_knight.png</string>
        </dict>
    </dict>
</plist>
