<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btkd_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,118},{87,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,84}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>btkd_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,325},{110,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>btkd_box_word_jzbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{254,42}}</string>
                <key>offset</key>
                <string>{-46,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{254,42}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>btkd_box_word_lzbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{344,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{344,48}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>btkd_box_word_ptbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,374},{222,42}}</string>
                <key>offset</key>
                <string>{-63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{222,42}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>btkd_box_word_xybx.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,324},{232,48}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{232,48}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>btkd_box_word_yzbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{324,48}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{324,48}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>btkd_btn_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,324},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>btkd_btn_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,443},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>btkd_icon_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,418},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>btkd_icon_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,392},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,75}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>btkd_icon_bt_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,411},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>btkd_icon_qcjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,418},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,96}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>btkd_icon_tljs.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,418},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>btkd_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{909,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,7}}</string>
                <key>sourceSize</key>
                <string>{909,7}</string>
            </dict>
            <key>btkd_title_btkd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{405,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,84}}</string>
                <key>sourceSize</key>
                <string>{405,84}</string>
            </dict>
            <key>btkd_up_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,443},{5,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,33}}</string>
                <key>sourceSize</key>
                <string>{5,33}</string>
            </dict>
            <key>btkd_up_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{909,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,105}}</string>
                <key>sourceSize</key>
                <string>{909,105}</string>
            </dict>
            <key>btkd_word_bxkwhdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{566,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{566,58}}</string>
                <key>sourceSize</key>
                <string>{572,64}</string>
            </dict>
            <key>btkd_word_ddsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{760,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,88}}</string>
                <key>sourceSize</key>
                <string>{760,90}</string>
            </dict>
            <key>btkd_word_djkqbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,265},{267,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,57}}</string>
                <key>sourceSize</key>
                <string>{267,57}</string>
            </dict>
            <key>btkd_word_jxtskd.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{462,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,57}}</string>
                <key>sourceSize</key>
                <string>{462,57}</string>
            </dict>
            <key>btkd_word_sdtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{808,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{808,55}}</string>
                <key>sourceSize</key>
                <string>{812,59}</string>
            </dict>
            <key>btkt_huohua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,474},{31,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btkt_huohua0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,461},{29,33}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btkt_huohua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,443},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btkt_huohua0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,175},{31,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btkt_huohua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,348},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btkt_ss001.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,325},{31,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,34}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>btkt_ss002.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,381},{16,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{16,31}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>btkt_ss003.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,491},{24,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,19}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>btkt_ss004.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,374},{17,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{17,34}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ironMinePic.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84cca94778a8a65ca0a03ef28f1f2c83$</string>
            <key>textureFileName</key>
            <string>ironMinePic.png</string>
        </dict>
    </dict>
</plist>
