<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,240},{52,42}}</string>
                <key>offset</key>
                <string>{-121,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{52,42}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{270,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{226,98}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{226,98}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{256,82}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{256,82}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,362},{218,64}}</string>
                <key>offset</key>
                <string>{-44,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{218,64}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,102},{244,88}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{244,88}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,344},{92,56}}</string>
                <key>offset</key>
                <string>{-100,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{92,56}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,102},{136,52}}</string>
                <key>offset</key>
                <string>{-78,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{136,52}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{186,100}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{186,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,104},{244,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,102},{240,78}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{240,78}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{274,96}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{274,96}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,428},{250,64}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{250,64}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{226,98}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{226,98}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>specialAssWin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27db796b5ef3cc00f05f2d5ff8ce9d22$</string>
            <key>textureFileName</key>
            <string>specialAssWin.png</string>
        </dict>
    </dict>
</plist>
