<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1038},{330,192}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,202},{330,192}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,274}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,133},{390,274}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,254},{386,272}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,135},{386,272}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{386,254}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,153},{386,254}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{388,250}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,157},{388,250}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,666},{370,248}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,159},{370,248}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,334},{330,206}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,188},{330,206}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{330,238}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,156},{330,238}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{366,284}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,115},{366,284}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1084},{366,292}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,110},{366,292}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{374,292}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,109},{374,292}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{370,286}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,114},{370,286}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,804},{374,278}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,121},{374,278}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,528},{376,274}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,127},{376,274}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rebound.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a5148d66251a419d14606ce082a3607$</string>
            <key>textureFileName</key>
            <string>rebound.png</string>
        </dict>
    </dict>
</plist>
